*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  min-height: 100vh;
  block-size: auto; /* был 100% */
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;    
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  margin: 133px 30px;
  display: grid;
  inline-size: 100%;     
  max-inline-size: 1200px;      
  align-items: end;
  gap: 16px 30px;
  grid-template-columns: 726px 414px;
  grid-template-rows: 480px 54px;
  grid-template-areas:
    "video details"
    "search-form details";
}

.result {
  /* subgrid наследует сетку от родителя */
  grid-row: 1 / 3; /* Занимает обе строки */
  grid-column: 1;
  display: grid;
  grid-template-rows: subgrid; /* Наследует строки родителя */
  grid-row: span 2;
  align-items: end;
}

.result__video-container {
  grid-area: video;
  inline-size: 100%;
  block-size:100%;
}

video {
  width: 100%;
  height: 100%;
  padding-top: 78px;
  object-fit: cover;
  object-position: center;
} 

.search-form {
  grid-area: search-form;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-items: center;
  width: fit-content;
}

.search-form__fieldset{
  border:  none;
  inline-size: 225px;
}

.search-form__textfield {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  border: none;
  border-top: 1px solid #FFFFFF; 
  border-bottom: 1px solid #FFFFFF; 
  background-color: #1b1919;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible)  {
  border: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  margin: auto;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block; 
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid #FFF;
}

.search-form__label:hover{
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  height: 22;
  padding-bottom: 5px;
}

.content__details {
  grid-area: details;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  opacity: 0.5;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
  min-block-size: 0;
}

.content__list {
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  
}

.content__card-link {
  text-decoration: none;
  color: #fff; 
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  line-clamp: 4;
  margin-top: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid  #FFF;
  background-color: #1b1919;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  text-align: center;
  color: #FFF;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

.button:focus-visible {
  outline: 2px solid #FFF;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__list-item {
  padding: 0px 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.result__video-container,
.content__list-container {
  position: relative;
}